app/code/local/Mv/Megaventory/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="megaventoryStockItem">
                <all>
                    <element name="stockqty" type="xsd:double" minOccurs="1"/>
                    <element name="stockqtyonhold" type="xsd:double" minOccurs="1"/>
                    <element name="stockalarmqty" type="xsd:double" minOccurs="1"/>
                    <element name="stocknonshippedqty" type="xsd:double" minOccurs="1"/>
                    <element name="stocknonreceivedqty" type="xsd:double" minOccurs="1"/>
                    <element name="stockwipcomponentqty" type="xsd:double" minOccurs="1"/>
                    <element name="stocknonreceivedwoqty" type="xsd:double" minOccurs="1"/>
                    <element name="stocknonallocatedwoqty" type="xsd:double" minOccurs="1"/>
                </all>
            </complexType>
            <complexType name="megaventoryStockItemUpdateEntity">
            	<all>
            		<element name="inventory_id" type="xsd:string" minOccurs="0" />
                    <element name="stock_data" type="typens:megaventoryStockItem" minOccurs="0" />
            	</all>
            </complexType>
            <complexType name="megaventoryStockItemUpdateEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:megaventoryStockItemUpdateEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    
    <message name="servicesUpdateMegaventoryStockRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="productIds" type="typens:ArrayOfString"/>
        <part name="megaventoryStockValues" type="typens:megaventoryStockItemUpdateEntityArray" />
    </message>
    <message name="servicesUpdateMegaventoryStockResponse">
        <part name="result" type="xsd:boolean" />
    </message>
    
    <message name="servicesMegaventoryAddTrackRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="shipmentIncrementId" type="xsd:string" />
        <part name="carrier" type="xsd:string" />
        <part name="title" type="xsd:string" />
        <part name="trackNumber" type="xsd:string" />
        <part name="notify" type="xsd:int" />
    </message>
    <message name="servicesMegaventoryAddTrackResponse">
        <part name="result" type="xsd:int" />
    </message>
    
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="servicesUpdateMegaventoryStock">
            <documentation>Updates Megaventory Stock Values</documentation>
            <input message="typens:servicesUpdateMegaventoryStockRequest" />
            <output message="typens:servicesUpdateMegaventoryStockResponse" />
        </operation>
        <operation name="servicesMegaventoryAddTrack">
            <documentation>Add new tracking number coming from Megaventory</documentation>
            <input message="typens:servicesMegaventoryAddTrackRequest" />
            <output message="typens:servicesMegaventoryAddTrackResponse" />
        </operation>
    </portType>
    
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="servicesUpdateMegaventoryStock">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="servicesMegaventoryAddTrack">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions> 